set routing-instances {{ vpn_name }} instance-type vrf
set routing-instances {{ vpn_name }} interface {{ vpn_name }}
set routing-instances {{ vpn_name }} route-distinguisher {{ lo0 }}:{{ rdidx }}
set routing-instances {{ vpn_name }} vrf-target {{ rt }}
set routing-instances {{ vpn_name }} vrf-table-label
